
body{
    background-color: rgb(247, 223, 187);
}
.card-container{
    background-color:aliceblue;
    width: 100%;
    text-align: center;

 
}
.text-container{
    background-color: beige;
    width: 100%;
    text-align: center;
   
}
.task{
    color: rgb(22, 2, 68);
    font-weight: bolder;
}